@{
    ViewData["Title"] = "Ошибка Доступа";
    ViewData["CSS"] = "AccessDenied.css";
}


<div class="deniedMainText">
    Отказано в доступе
</div>
<div class="deniedVariantText">
    Возможно нужно Войти или Зарегистрироваться?
</div>
<div class="loginBox">
    <button class="signIn">Войти</button>
    <button class="signUp">Зарегистрироваться</button>
</div>