@model StalNoteSite.Models.Users.LoginViewModel
@{
    ViewData["Title"] = "Вход";
    ViewData["CSS"] = "signIn.css";
}

<div class="loginBody">
    <div class="loginText">
        Вход
    </div>

    <div class="loginBox">
        <form asp-controller="User" asp-action="Login" method="post">
            <div asp-validation-summary="All"></div>
            <input hidden="hidden" asp-for="ReturnUrl" asp-items="@Model.ReturnUrl" />
            <div class="loginBoxInputBox">
                <input placeholder="Логин" asp-for="UserName" required />
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="loginBoxInputBox">
                <input placeholder="Пароль" asp-for="Password" required />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="choiceBox">
                <div class="submitPart">
                    <button type="submit">Войти</button>
                </div>
                <div class="registerPart">
                    <a asp-controller="User" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a>
                </div>
                <div class="exitPart">
                    <a asp-controller="Home" asp-action="Index">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>
