@{
    ViewData["Title"] = "StalNote";
    ViewData["CSS"] = "home.css";
}

@model IEnumerable<StalNoteSite.Data.AuctionItem.SelledItem>

<div class="RenderMain">
    <div class="HomeVideoBorder">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/q7SoR5Qro1Q?si=nJutt9uFAv0Fu9q1"
                frameborder="0" referrerpolicy="strict-origin-when-cross-origin"></iframe>
    </div>
</div>