.RenderMain{
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeVideoBorder{
    overflow: hidden;
    border-radius: 30px;
    border: 2px solid var(--element-border-color);
    box-shadow: 0px 0px 85px var(--element-border-color);
}
.HomeVideoBorder iframe{
  height: 50vh;
  width: 89vh;
}